* {
  width: 100%;
  /*border here is for testing layout*/
  /*border: 1px solid black;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#container,ul,nav,body,html {
  border: none;
  background-color: #fafafa;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

ul {
  padding: 0 auto;
  margin: 0 auto;
}

#container {
  width: 90%;
  margin: 0 auto;
}

/*Navigation*/
nav {
  height: 60px;
}

nav li {
  width: 14%;
  height: 40px;
  float: left;
  margin: 4vh 10px;
  text-align: center;
  list-style-type: none;
}

nav li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav li:first-child {
  float: right;
  display: none;
}

#logo {
  background: url('../images/logoz2.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 70px;
  width: 140px;
  padding: 0 auto;
  margin: 5px auto;

}

.line {
  height: 7px;
  width: 60%;
  margin: 5px auto;
  border-radius: 5px;
}

/*Main content and footer*/
/*This captures the first div, right below header tag*/
header+div {
  height: 400px;
  width: 100%;
  margin: 20px 0;
  /*background-color: tomato;*/
  background: url(../images/hero-image.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;

}

#container>div+div,footer>div {
  width: 30%;
  height: 200px;
  float: left;
  margin: 10px 1.5%;
}

footer {
  clear: left;
}

@media screen and (max-width:768px) {
  /*Navigation*/
  nav li {
    display: none;
  }
  nav li:first-child {
    display: block;
    width: 30%;
  }

  /*Main and footer*/
  #container>div+div,footer>div {
    width: 97%;/*100%-3% margins*/
  }
}
