* {
  /*width: 100%;*/
  /*border here is for testing layout*/
  /*border: 1px solid black;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#container, ul, nav, body, html {
  border: none;
  background-color: #fafafa;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

h1 {
  font-family: 'Pacifico', cursive;
}

h2 {
  font-family: 'Pacifico', cursive;
}

h3 {
  font-family: 'Pacifico', cursive;
}

ul {
  padding: 0 auto;
  margin: 0 auto;
}

#container {
  width: 90%;
  margin: 0 auto;
}

/********Navigation Start**********/
nav {
  height: 60px;
  font-family: 'Pacifico', cursive;
}

nav li {
  width: 14%;
  height: 40px;
  float: left;
  margin: 4vh 10px;
  text-align: center;
  list-style-type: none;
  /*border: 1px solid black;*/
}

nav li:hover {
  text-decoration: underline;
}

nav li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav li:first-child {
  float: right;
  display: none;
}

#logo {
  background: url('../images/logoz2.png') no-repeat; /*idea inspired by Federico Mauro*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 70px;
  width: 140px;
/*  padding: 0 auto;*/
  margin: 5px 90px 5px 0;

}

.line {
  height: 7px;
  width: 60%;
  margin: 5px auto;
  border-radius: 5px;
  border: 1px solid black;
}
/********Navigation End**********/



/**********Main Content Start************/
/*This captures the first div, right below header tag*/
header+div {
  height: 400px;
  width: 100%;
  margin: 20px 0;
  /*background-color: tomato;*/
  background: url(../images/hero-image.jpg) no-repeat fixed; /*unsplash.com - free to use this image*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.title {
  margin-top: 170px;
  font-size: 25px;
}

#item1 {
  background: url(../images/item0.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: 2;
}

#item2 {
  background: url(../images/item1.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#item3 {
  background: url(../images/item2.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#item4 {
  background: url(../images/message1.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#item5 {
  background: url(../images/message2.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#item6 {
  background: url(../images/message3.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#offer {
padding: 1% 40%;
border: 1px solid black;
margin: 0;
}

a .offer {
  border: 1px solid black;
  /*padding: 50px 50px 50px 50px;*/
  margin: 50px;
}

.hover {
  padding: 46px 135px;
  border: 1px solid black;
}

.hover h2, .hover h3 {
  visibility: hidden;
}

.hover:hover {
  background-color: rgba(0, 0, 0, 0.8);
  visibility: visible !important;
/*  display: visible;*/
}

.hover:hover h2, .hover:hover h3 {
  visibility: visible !important;
  color: white;
}

#container>div+div,footer>div {
  width: 30%;
  height: 200px;
  float: left;
  margin: 10px 1.5%;
}
/**********Main Content End************/

/*********Modal Start*********/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 17px;
  padding: 20px 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
}

.offer {
  padding-top: 50px;
}

/*Modal Opacity - background*/
.modal {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

/*Modal Box*/
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  margin: 15% auto;
/*  padding: 1.2rem;*/
  max-width: 50%;
  max-height: 50%;
  visibility: hidden;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
/*  margin-bottom: 1rem;*/
  /*font-size: 20px;*/
  height: 70%;
}

.slide {
  visibility: visible !important;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
}

.close {
  font-family: 'Pacifico', cursive;
}

@keyframes slideDown {
  0% {
    transform: translateY(-80%);
  }
  50%{
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}
/*********Modal End*********/

/**********Modal Items***********/
.parent {
  /*background: tomato;*/
  height: 200px;
  width: 83%;
  margin: 0 auto;
  text-align: center;
/*  float:right;*/
}

.divider {
  float: left;
  /*justify-content: center;*/
  width: 50%;
  margin: 0 auto;
}

.divider input {
  font-family: 'Pacifico', cursive;
}

/*There must be a way... I cannot get the dropdown font-family to work.*/
/*select option {
  font-family: 'Pacifico', cursive;
}*/

select {
  margin-top: 20px;
}

input[type=submit] {
  margin-top: 70px;
  padding: 10px 20px;
  background-color: tomato;
  border: 1px solid black;
}

input[type=submit]:hover {
  background-color: black;
  color: white;
}

.divider h3 {
  display: inline-block;
}

label {
  font-family: 'Pacifico', cursive;
  text-decoration: underline;
}

/*********Checkout.html Style Start*********/

/*********Checkout.html Style End*********/
.background {
  background: url(../images/checkout_background2.jpg) repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}

.background h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  padding: 20px 20px 10px 20px;
  color: tomato;
}

#parent {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 80px 75px 80px;
 /* margin: 150px 80px 50px 80px;*/
}

#left {
  width: 48%;
  height: 100%;
  padding: 50px 50px;
  margin: 0 10px;
  background-color: #fafafa;
}

#right {
  width: 48%;
  height: 100%;
  padding: 50px 50px;
  margin: 0 10px;
  background-color: #fafafa;
}

#cart-icon, #item-box {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.cart-table {
  margin-left: 170px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Pacifico', cursive;
  font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Pacifico', cursive;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Pacifico', cursive;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Pacifico', cursive;
}

#payment button {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    background-color: tomato;
    border: none;
    padding: 5px 10px;
    font-family: 'Pacifico', cursive;
    border: 1px solid black;
}

#payment button:hover {
  background-color: black;
  color: white;
}

/*********Footer Start******/
footer {
  clear: left;
}
/*********Footer Start*******/

/**********Media Query Start*******/
@media screen and (max-width:768px) {
  /*Navigation*/
  nav li {
    /*display: none;*/
  }

  nav li:first-child {
    display: block;
    width: 30%;
  }

  /*Main and footer*/
  #container>div+div,footer>div {
    width: 97%;/*100%-3% margins*/
  }
}
/**********Media Query End*******/
